body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 300px;
  gap: 1.25rem;
  background: rgb(121, 121, 215);
}

.grid-item {
  display: grid;
  place-items: center;
  height: 2.5rem;
  width: 2.5rem;
  background: #fff;
}