.modal {
  padding: 0;
  border: none;
  background: none;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal__content {
  width: 64rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--white);
}